footer > div {
	background-color: var(--pale-pink);
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer img {
	width: 40px;
	margin-right: 10px;
}

footer a {
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
}
