:root {
	--light-grey: #f1f1f1;
	--grey: #868686;
	--black: #000000;
	--white: #ffffff;
	--saumon: #ff5d5d;
	--light-green: #35e1a1;
	--green: #17b178;
	--pale-pink: #faf1ed;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: TS-Reg, sans-serif;
}

body {
	background-color: var(--white);
}

.container {
	max-width: 1175px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-family: TS-med;
	font-size: 3rem;
	margin-bottom: 20px;
	font-weight: bold;
}

h2 {
	font-family: TS-med;
	font-size: 2.7rem;
	margin-bottom: 30px;
	font-weight: bold;
}

h3 {
	font-size: 2.5rem;
	margin-bottom: 25px;
	font-weight: bold;
	line-height: 35px;
}

h4 {
	font-size: 1.8rem;
	margin-bottom: 5px;
	font-weight: bold;
}

button {
	border: none;
	background-color: white;
	font-family: TS-Med, sans-serif;
	background-color: var(--black);
	color: var(--white);
	font-size: 1.6rem;
}

button:hover {
	cursor: pointer;
}

a,
i {
	text-decoration: none;
	color: var(--black);
}

p {
	font-size: 1.6rem;
	line-height: 22px;
}

input,
textarea {
	font-family: TS-Reg, sans-serif;
	font-size: 1.6rem;
	line-height: 22px;
}

::-webkit-scrollbar {
	background-color: var(--white);
}

::-webkit-scrollbar-thumb {
	background-color: var(--light-grey);
	border-radius: 10px;
}

/* @media (min-width: 768px) {
	body {
		background-color: rgba(255, 0, 0, 0.096);
	}
} */

/* @media (min-width: 1024px) {
	body {
		background-color: rgba(0, 128, 0, 0.171);
	}
} */

/* @media (min-width: 1184px) {
	body {
		background-color: rgba(255, 255, 0, 0.137);
	}
} */
