@font-face {
  font-family: "IconTripAdvisor";
  src: url("../fonts/IconTripAdvisor.eot?o4qzvm");
  src: url("../fonts/IconTripAdvisor.eot?o4qzvm#iefix")
      format("embedded-opentype"),
    url("../fonts/IconTripAdvisor.ttf?o4qzvm") format("truetype"),
    url("../fonts/IconTripAdvisor.woff?o4qzvm") format("woff"),
    url("../fonts/IconTripAdvisor.svg?o4qzvm#IconTripAdvisor") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "IconTripAdvisor" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hotels:before {
  content: "\e000";
}
.icon-restaurants:before {
  content: "\e001";
}
.icon-attractions:before {
  content: "\e002";
}
.icon-vacation_rentals:before {
  content: "\e003";
}
.icon-flights:before {
  content: "\e004";
}
.icon-guides:before {
  content: "\e005";
}
.icon-forums:before {
  content: "\e006";
}
.icon-cruises:before {
  content: "\e007";
}
.icon-rental_cars:before {
  content: "\e008";
}
.icon-ta_ollie:before {
  content: "\e009";
}
.icon-bubble_rating_bg:before {
  content: "\e00a";
}
.icon-bubble_rating_full:before {
  content: "\e00b";
}
.icon-bubble_rating_half:before {
  content: "\e00c";
}
.icon-bubble_rating_empty:before {
  content: "\e00d";
}
.icon-pencil_paper:before {
  content: "\e00e";
}
.icon-pencil:before {
  content: "\e00f";
}
.icon-camera:before {
  content: "\e010";
}
.icon-heart:before {
  content: "\e011";
}
.icon-heart_fill:before {
  content: "\e012";
}
.icon-friend:before {
  content: "\e013";
}
.icon-explore:before {
  content: "\e014";
}
.icon-calendar:before {
  content: "\e015";
}
.icon-clock:before {
  content: "\e016";
}
.icon-globe_americas:before {
  content: "\e017";
}
.icon-globe_world:before {
  content: "\e018";
}
.icon-map_pin:before {
  content: "\e019";
}
.icon-map_pin_fill:before {
  content: "\e01a";
}
.icon-nearby:before {
  content: "\e01b";
}
.icon-special_offer_45deg:before {
  content: "\e01c";
}
.icon-special_offer:before {
  content: "\e01d";
}
.icon-laptop:before {
  content: "\e01e";
}
.icon-mobile_phone:before {
  content: "\e01f";
}
.icon-neighborhoods:before {
  content: "\e020";
}
.icon-neighborhoods_fill:before {
  content: "\e021";
}
.icon-email:before {
  content: "\e022";
}
.icon-star:before {
  content: "\e023";
}
.icon-star_fill:before {
  content: "\e024";
}
.icon-flag:before {
  content: "\e025";
}
.icon-phone:before {
  content: "\e026";
}
.icon-printer:before {
  content: "\e027";
}
.icon-lightbulb_on:before {
  content: "\e028";
}
.icon-external_link:before {
  content: "\e029";
}
.icon-checkmark_boxed:before {
  content: "\e02a";
}
.icon-checkmark:before {
  content: "\e02b";
}
.icon-times:before {
  content: "\e02c";
}
.icon-times_c:before {
  content: "\e02d";
}
.icon-times_c_fill:before {
  content: "\e02e";
}
.icon-plus:before {
  content: "\e02f";
}
.icon-plus_c:before {
  content: "\e030";
}
.icon-plus_c_fill:before {
  content: "\e031";
}
.icon-minus:before {
  content: "\e032";
}
.icon-minus_c:before {
  content: "\e033";
}
.icon-minus_c_fill:before {
  content: "\e034";
}
.icon-menu_bars:before {
  content: "\e035";
}
.icon-refresh:before {
  content: "\e036";
}
.icon-single_chevron_up:before {
  content: "\e038";
}
.icon-single_chevron_up_c:before {
  content: "\e039";
}
.icon-single_chevron_up_c_fill:before {
  content: "\e03a";
}
.icon-single_chevron_right:before {
  content: "\e03b";
}
.icon-single_chevron_right_c:before {
  content: "\e03c";
}
.icon-single_chevron_right_c_fill:before {
  content: "\e03d";
}
.icon-single_chevron_down:before {
  content: "\e03e";
}
.icon-single_chevron_down_c:before {
  content: "\e03f";
}
.icon-single_chevron_down_c_fill:before {
  content: "\e040";
}
.icon-single_chevron_left:before {
  content: "\e041";
}
.icon-single_chevron_left_c:before {
  content: "\e042";
}
.icon-single_chevron_left_c_fill:before {
  content: "\e043";
}
.icon-caret_up:before {
  content: "\e044";
}
.icon-caret_right:before {
  content: "\e047";
}
.icon-caret_down:before {
  content: "\e04a";
}
.icon-caret_left:before {
  content: "\e04d";
}
.icon-exclamation_c:before {
  content: "\e050";
}
.icon-information_c:before {
  content: "\e052";
}
.icon-information_c_fill:before {
  content: "\e053";
}
.icon-question_c:before {
  content: "\e054";
}
.icon-search:before {
  content: "\e056";
}
.icon-thumbs_up_fill:before {
  content: "\e057";
}
.icon-thumbs_down_fill:before {
  content: "\e058";
}
.icon-certificate_of_excellence:before {
  content: "\e059";
}
.icon-green_leaders:before {
  content: "\e05a";
}
.icon-amusement_parks:before {
  content: "\e05b";
}
.icon-wifi:before {
  content: "\e05c";
}
.icon-parking:before {
  content: "\e05d";
}
.icon-coffee_tea_cafe:before {
  content: "\e05e";
}
.icon-notification_bell:before {
  content: "\e05f";
}
.icon-arrow_left_prohibited:before {
  content: "\e061";
}
.icon-empty_cart:before {
  content: "\e062";
}
.icon-activities:before {
  content: "\e063";
}
.icon-pool:before {
  content: "\e064";
}
.icon-pet_friendly:before {
  content: "\e065";
}
.icon-smoking:before {
  content: "\e066";
}
.icon-smoking_prohibited:before {
  content: "\e067";
}
.icon-bar:before {
  content: "\e068";
}
.icon-sun:before {
  content: "\e069";
}
.icon-guides_fill:before {
  content: "\e06a";
}
.icon-comments:before {
  content: "\e06b";
}
.icon-comments_fill:before {
  content: "\e06c";
}
.icon-email_fill:before {
  content: "\e06d";
}
.icon-adult:before {
  content: "\e06e";
}
.icon-child:before {
  content: "\e06f";
}
.icon-present:before {
  content: "\e070";
}
.icon-announcement_fill_26deg:before {
  content: "\e071";
}
.icon-announcement_fill:before {
  content: "\e072";
}
.icon-trash:before {
  content: "\e073";
}
.icon-prohibited:before {
  content: "\e074";
}
.icon-night:before {
  content: "\e075";
}
.icon-arrow_up:before {
  content: "\e076";
}
.icon-arrow_up_thick:before {
  content: "\e077";
}
.icon-restore:before {
  content: "\e078";
}
.icon-arrow_right:before {
  content: "\e079";
}
.icon-arrow_right_thick:before {
  content: "\e07a";
}
.icon-arrow_down:before {
  content: "\e07c";
}
.icon-arrow_down_thick:before {
  content: "\e07d";
}
.icon-archive:before {
  content: "\e07e";
}
.icon-arrow_left:before {
  content: "\e07f";
}
.icon-arrow_left_thick:before {
  content: "\e080";
}
.icon-external_link_no_box:before {
  content: "\e082";
}
.icon-expand:before {
  content: "\e083";
}
.icon-special_offer_fill_45deg:before {
  content: "\e084";
}
.icon-special_offer_fill:before {
  content: "\e085";
}
.icon-friend_fill:before {
  content: "\e086";
}
.icon-add_friend:before {
  content: "\e087";
}
.icon-star_rating_full:before {
  content: "\e088";
}
.icon-star_rating_half:before {
  content: "\e089";
}
.icon-children:before {
  content: "\e08a";
}
.icon-travelers_choice_badge:before {
  content: "\e08b";
}
.icon-checkmark_c_fill:before {
  content: "\e08c";
}
.icon-lock:before {
  content: "\e08d";
}
.icon-diagonal_c_half_fill:before {
  content: "\e08f";
}
.icon-settings:before {
  content: "\e090";
}
.icon-more_horizontal:before {
  content: "\e091";
}
.icon-more_vertical:before {
  content: "\e092";
}
.icon-checkbox_border:before {
  content: "\e093";
}
.icon-checkbox_checked:before {
  content: "\e094";
}
.icon-alert:before {
  content: "\e096";
}
.icon-instant:before {
  content: "\e097";
}
.icon-dmo:before {
  content: "\e098";
}
.icon-reply_fill:before {
  content: "\e099";
}
.icon-share:before {
  content: "\e09a";
}
.icon-feedback_love:before {
  content: "\e09b";
}
.icon-traveler_article:before {
  content: "\e09c";
}
.icon-custom_note:before {
  content: "\e09d";
}
.icon-level_badge:before {
  content: "\e09e";
}
.icon-level_badge_fill:before {
  content: "\e09f";
}
.icon-award:before {
  content: "\e0a0";
}
.icon-bell:before {
  content: "\e0a1";
}
.icon-deals:before {
  content: "\e0a2";
}
.icon-destination:before {
  content: "\e0a3";
}
.icon-camera_fill:before {
  content: "\e0a4";
}
.icon-lock_open:before {
  content: "\e0a5";
}
.icon-tools:before {
  content: "\e0a7";
}
.icon-favorite_pin:before {
  content: "\e0a8";
}
.icon-layers:before {
  content: "\e0a9";
}
.icon-member:before {
  content: "\e0aa";
}
.icon-credit_card:before {
  content: "\e0ac";
}
.icon-wallet_fill:before {
  content: "\e0ad";
}
.icon-wallet:before {
  content: "\e0ae";
}
.icon-gallery:before {
  content: "\e0af";
}
.icon-video_fill:before {
  content: "\e0b0";
}
.icon-photo:before {
  content: "\e0b1";
}
.icon-storyboard:before {
  content: "\e0b2";
}
.icon-management_center:before {
  content: "\e0b3";
}
.icon-flights_arrival:before {
  content: "\e0b4";
}
.icon-flights_departure:before {
  content: "\e0b5";
}
.icon-repost_fill:before {
  content: "\e0b6";
}
.icon-link:before {
  content: "\e0b7";
}
.icon-quote_decorative:before {
  content: "\e0b8";
}
.icon-quote:before {
  content: "\e0b9";
}
.icon-bookmark:before {
  content: "\e0ba";
}
.icon-bookmark_fill:before {
  content: "\e0bb";
}
.icon-verified_checkmark:before {
  content: "\e0bc";
}
.icon-verified_checkmark_fill:before {
  content: "\e0bd";
}
.icon-users:before {
  content: "\e0be";
}
.icon-pause:before {
  content: "\e0bf";
}
.icon-play:before {
  content: "\e0c0";
}
.icon-volume_off:before {
  content: "\e0c1";
}
.icon-volume_on:before {
  content: "\e0c2";
}
.icon-suitcase:before {
  content: "\e0c3";
}
.icon-suitcase_fill:before {
  content: "\e0c4";
}
.icon-my_trips:before {
  content: "\e0c5";
}
.icon-compass:before {
  content: "\e0c7";
}
.icon-compass_fill:before {
  content: "\e0c8";
}
.icon-sort:before {
  content: "\e0c9";
}
.icon-text_message:before {
  content: "\e0ca";
}
.icon-bathroom_fill:before {
  content: "\e0cb";
}
.icon-ports:before {
  content: "\e0cc";
}
.icon-map_and_pin:before {
  content: "\e0cd";
}
.icon-repost:before {
  content: "\e0ce";
}
.icon-partner:before {
  content: "\e0d0";
}
.icon-instagram:before {
  content: "\e0d1";
}
.icon-pinterest:before {
  content: "\e0d2";
}
.icon-facebook:before {
  content: "\e0d3";
}
.icon-twitter:before {
  content: "\e0d4";
}
.icon-youtube:before {
  content: "\e0d5";
}
.icon-no_bag:before {
  content: "\e0d6";
}
.icon-taxi:before {
  content: "\e0d7";
}
.icon-train:before {
  content: "\e0d8";
}
.icon-map:before {
  content: "\e0d9";
}
.icon-filter:before {
  content: "\e0da";
}
.icon-duration:before {
  content: "\e0db";
}
.icon-menu:before {
  content: "\e0dc";
}
.icon-casino:before {
  content: "\e0dd";
}
.icon-castle:before {
  content: "\e0de";
}
.icon-family:before {
  content: "\e0df";
}
.icon-luxury:before {
  content: "\e0e0";
}
.icon-on_the_beach:before {
  content: "\e0e1";
}
.icon-onsen:before {
  content: "\e0e2";
}
.icon-outdoors:before {
  content: "\e0e3";
}
.icon-resort:before {
  content: "\e0e4";
}
.icon-romantic:before {
  content: "\e0e5";
}
.icon-ryokan:before {
  content: "\e0e6";
}
.icon-ski_in_ski_out:before {
  content: "\e0e7";
}
.icon-spa:before {
  content: "\e0e8";
}
.icon-air_conditioning:before {
  content: "\e0e9";
}
.icon-dry_cleaning:before {
  content: "\e0ea";
}
.icon-internet:before {
  content: "\e0eb";
}
.icon-multilingual:before {
  content: "\e0ec";
}
.icon-conference_center:before {
  content: "\e0ed";
}
.icon-audio:before {
  content: "\e0ee";
}
.icon-beverage:before {
  content: "\e0ef";
}
.icon-photo_id:before {
  content: "\e0f0";
}
.icon-top_three:before {
  content: "\e0f1";
}
.icon-voucher:before {
  content: "\e0f2";
}
.icon-bag:before {
  content: "\e0f3";
}
.icon-television:before {
  content: "\e0f4";
}
.icon-power:before {
  content: "\e0f5";
}
.icon-usb:before {
  content: "\e0f6";
}
.icon-seat_regular:before {
  content: "\e0f7";
}
.icon-seat_angled_bed:before {
  content: "\e0f8";
}
.icon-seat_flat_bed:before {
  content: "\e0f9";
}
.icon-eye:before {
  content: "\e0fa";
}
.icon-eye_fill:before {
  content: "\e0fb";
}
.icon-accessible:before {
  content: "\e0fc";
}
.icon-shopping_bag:before {
  content: "\e0fd";
}
.icon-classes_workshops:before {
  content: "\e0fe";
}
.icon-fun_games:before {
  content: "\e0ff";
}
.icon-museums:before {
  content: "\e100";
}
.icon-theater_concerts:before {
  content: "\e101";
}
.icon-zoo_aquarium:before {
  content: "\e102";
}
.icon-food_drink:before {
  content: "\e103";
}
.icon-ambience:before {
  content: "\e105";
}
.icon-buffet:before {
  content: "\e106";
}
.icon-delivery:before {
  content: "\e107";
}
.icon-directions:before {
  content: "\e108";
}
.icon-highchair:before {
  content: "\e109";
}
.icon-outdoor_seating:before {
  content: "\e10a";
}
.icon-private_event:before {
  content: "\e10b";
}
.icon-seating:before {
  content: "\e10c";
}
.icon-street_food:before {
  content: "\e10d";
}
.icon-takeout:before {
  content: "\e10e";
}
.icon-waitstaff:before {
  content: "\e10f";
}
.icon-wine_beer:before {
  content: "\e110";
}
.icon-hospital:before {
  content: "\e111";
}
.icon-office:before {
  content: "\e112";
}
.icon-doors:before {
  content: "\e113";
}
.icon-fuel:before {
  content: "\e114";
}
.icon-transmission:before {
  content: "\e115";
}
.icon-gallery_dynamic:before {
  content: "\e116";
}
.icon-weather_clear_night:before {
  content: "\e117";
}
.icon-weather_cloud:before {
  content: "\e118";
}
.icon-weather_cloudy:before {
  content: "\e119";
}
.icon-weather_cloudy_night:before {
  content: "\e11a";
}
.icon-weather_partly_cloudy:before {
  content: "\e11b";
}
.icon-weather_rain:before {
  content: "\e11c";
}
.icon-weather_heavy_rain:before {
  content: "\e11d";
}
.icon-weather_thunderstorm:before {
  content: "\e11e";
}
.icon-weather_heavy_thunder:before {
  content: "\e11f";
}
.icon-weather_stormy:before {
  content: "\e120";
}
.icon-weather_windy_cloudy:before {
  content: "\e121";
}
.icon-weather_wind:before {
  content: "\e122";
}
.icon-twenty_four_hour_cancellation:before {
  content: "\e123";
}
.icon-low_price:before {
  content: "\e124";
}
.icon-bakery:before {
  content: "\e125";
}
.icon-dessert:before {
  content: "\e126";
}
.icon-fitness:before {
  content: "\e127";
}
.icon-membership:before {
  content: "\e12c";
}
.icon-group_tour:before {
  content: "\e12d";
}
.icon-heart_stack:before {
  content: "\e12e";
}
.icon-heart_stack_fill:before {
  content: "\e12f";
}
.icon-trip_protect:before {
  content: "\e130";
}
.icon-whatsapp:before {
  content: "\e131";
}
.icon-room_suite:before {
  content: "\e132";
}
.icon-nearby_fill:before {
  content: "\e133";
}
.icon-inbox:before {
  content: "\e134";
}
.icon-drag_handle:before {
  content: "\e135";
}
.icon-list:before {
  content: "\e136";
}
.icon-radio_border:before {
  content: "\e137";
}
.icon-radio_checked:before {
  content: "\e138";
}
.icon-water_activities:before {
  content: "\e139";
}
.icon-thumbs_up:before {
  content: "\e13a";
}
.icon-thumbs_down:before {
  content: "\e13b";
}
.icon-amusement_parks_fill:before {
  content: "\e13c";
}
.icon-bakery_fill:before {
  content: "\e13d";
}
.icon-bar_fill:before {
  content: "\e13e";
}
.icon-casino_fill:before {
  content: "\e13f";
}
.icon-coffee_tea_cafe_fill:before {
  content: "\e140";
}
.icon-dessert_fill:before {
  content: "\e141";
}
.icon-hotels_fill:before {
  content: "\e142";
}
.icon-museums_fill:before {
  content: "\e143";
}
.icon-outdoors_fill:before {
  content: "\e144";
}
.icon-pet_friendly_fill:before {
  content: "\e145";
}
.icon-restaurants_fill:before {
  content: "\e146";
}
.icon-empty_cart_fill:before {
  content: "\e147";
}
.icon-shopping_bag_fill:before {
  content: "\e148";
}
.icon-spa_fill:before {
  content: "\e149";
}
.icon-attractions_fill:before {
  content: "\e14a";
}
.icon-train_fill:before {
  content: "\e14b";
}
.icon-water_activities_fill:before {
  content: "\e14c";
}
.icon-classes_workshops_fill:before {
  content: "\e14d";
}
.icon-location:before {
  content: "\e14e";
}
.icon-location_fill:before {
  content: "\e14f";
}
