#main-title span {
	color: var(--saumon);
}

#main-title a {
	text-decoration: underline;
}

#main-title p {
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	#main-title h1 {
		font-size: 5.5rem;
	}
}
